#wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.closeup {
    background: rgb(205, 205, 205);
    position: absolute;
    z-index: 1;
}