<div class="page" [ngStyle]="margin">
  <p>
    Venenatis tellus in metus vulputate eu. Ultricies mi eget mauris pharetra. Id eu nisl nunc mi ipsum. Est sit 
    amet facilisis magna etiam tempor orci eu lobortis. Tellus orci ac auctor augue mauris augue neque gravida in.
    Orci ac auctor augue mauris augue neque gravida in fermentum. Eget nunc lobortis mattis aliquam. Felis eget 
    nunc lobortis mattis aliquam faucibus purus in. Nulla aliquet porttitor lacus luctus accumsan tortor posuere ac
    ut. Enim praesent elementum facilisis leo. Vitae auctor eu augue ut lectus. Euismod quis viverra nibh cras
    pulvinar mattis nunc sed. Nullam non nisi est sit amet facilisis. Augue interdum velit euismod in pellentesque
    massa placerat duis ultricies. Pulvinar etiam non quam lacus.
  </p>
  <form id="form">
    <mat-form-field id="email">
      <mat-label id="email-label">Email</mat-label>
      <input id="email-input" type="email" matInput placeholder="contact@email.com">
    </mat-form-field>
    <mat-form-field id="name">
      <mat-label id="name-label">Name</mat-label>
      <input id="name-input" type="name" matInput placeholder="Your Name">
    </mat-form-field>
    <mat-form-field id="message">
      <mat-label id="message-label">Leave a message</mat-label>
      <textarea id="message-textarea" matInput placeholder="Let's talk about a commission..."></textarea>
    </mat-form-field>
  </form>
</div>
