#navigation-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#navigation {
  display: flex;
  align-items: space-between;
  width: 100%;
}

.fill {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color:rgb(205, 205, 205);
}
